body {
    width: 96vw;
    height: 96vh;
    box-sizing: border-box;
    padding: 0;
    margin: 2vh 2vw;
    display: grid;
    grid-template-areas: "form"
                         "game";
    grid-template-rows: auto 1fr;
}

label {
    display: block;
}

form {
    grid-area: form;
    height: fit-content;
}

/* Override default styling for disabled buttons to avoid font color/button color changing */
button:disabled {
    pointer-events: none;
    opacity: 1;
    background-color: initial;
    color: initial;
    cursor: default;
}

.game-button {
    height: 5em;
    width: 10em;
    margin: 0.5em;
}